@import "tailwindcss";
textarea::-webkit-scrollbar,
pre::-webkit-scrollbar {
  width: 6px;
}

textarea::-webkit-scrollbar-thumb,
pre::-webkit-scrollbar-thumb {
  background-color: #4b5563;
  border-radius: 3px;
}
